<!DOCTYPE html>
<html>
<link rel="stylesheet" href="css/fortnite.css">

<head>
    <title>Profile Generator</title>
</head>

<body>

    <div class="q-title">Profile Generator!</div>

    <form id="profileForm">
        <label>Name:</label>
        <input type="text" id="nameInput"><br><br>

        <label>Age:</label>
        <input type="number" id="ageInput"><br><br>

        <label>Favorite Color:</label>
        <select id="colorInput">
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Purple</option>
        </select><br><br>

        <label>Favorite Pet:</label><br>
        <input type="radio" name="pet" value="Dog">Dog<br>
        <input type="radio" name="pet" value="Cat">Cat<br>
        <input type="radio" name="pet" value="Fish">Fish<br><br>

        <label>Hobbies:</label><br>
        <input type="checkbox" class="hobby" value="Reading">Reading<br>
        <input type="checkbox" class="hobby" value="Gaming">Gaming<br>
        <input type="checkbox" class="hobby" value="Sports">Sports<br><br>

        <button type="button" id="submitBtn" class="q-confirm-button">Create Profile</button>
    </form>

    <p id="outPut"></p>

    <!-- how the wbesite looks-->

    <div ng-app="coolform" class="wrapper">

        <div cool-form>
            <div class="q-title">Your Profile!</div>
            <div ng-repeat="q in questions" class="question">
                <label>
                    <span class="q-text">
                        {{q.question}}
                        <span class="q-answer">
                            {{q.answer}}
                        </span>
                    </span>
                    <input type="text" id="q{{$index}}" ng-model="q.answer">
                    <span class="q-back" ng-click="open($index)">
                        << /span>
                </label>
                <span class="q-next" ng-click="open($index+1)">></span>
            </div>
        </div>
    </div>
    <script src="js/javascript.js"></script>

</body>

</html>